.card-1 {
  border-top: 5px solid #ff4f64;
}

.card-2 {
  border-top: 5px solid #00a8e7;
}

.card-3 {
  border-top: 5px solid #44c4a1;
}

.card-4 {
  border-top: 5px solid #fcc200;
}

/* Write CSS code here. */

.cardHead {
  font-family: 'Roboto';
  font-size: 26px;
  font-weight: 900;
  color: #171f46;
}
.cardDesc {
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  color: #64748b;
}
.imageStyle {
  height: 87px;
  width: 90px;
  align-self: flex-end;
  margin-bottom: 10px;
}
